.DS_Store
*.o
.vscode/
*.iex
*.__i
*.d
*.scvd
**/*.map
**/*.BAT
**/*.axf
**/*.hex
**/*.htm
**/*.lnp
**/*.dep
**/*._ia
**/*.lst
**/*.pyc
__pycache__

caltechfaces/*
imgs/*
**/*.dat
**/*.weight
**/*.txt
**/tmp/*
**/*.bin